<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit user</title>
</head>
<body>
    <form th:method="POST" th:action="@{/users/edit}" th:object="${user}">
        <input name="id" th:field="*{id}" th:value="${user.id}" hidden="hidden">
        <p th:text="'id: ' + ${user.id}"/>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <label for="email">email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <input type="submit" value="Edit"/>
    </form>
</body>
</html>